RewriteEngine On

# Trust ingress HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteRule .* - [E=HTTPS:on]

# Forbid direct access to /static
RewriteCond %{REQUEST_URI} ^/static/ [NC]
RewriteCond %{HTTP_REFERER} ^$ [OR]
RewriteCond %{HTTP_REFERER} !^https?://%{HTTP_HOST} [NC]
RewriteRule ^.*$ - [F,L]

ErrorDocument 404 /error404.html
ErrorDocument 403 /error404.html